# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Dataset
data/raw/
data/processed/
data/processed_frames/
data/FaceForensics++/
*.mp4
*.avi
*.mov
*.mkv

# Model artifacts
checkpoints/
outputs/
*.pt
*.pth
*.ckpt

# Logs
logs/
runs/
wandb/
lightning_logs/
*.log
events.out.tfevents.*

# Archives
*.zip
*.tar
*.gz
*.rar

# Secrets
.env
*.key
token.txt
github_token.txt
